html {
    width: 100vw;
    background-color: bisque;
    font-size: 100%;
}


.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: auto;
    font-size: 3rem;
    /* background-image: no-repeat url("../assets/img/icon-cross.svg"); */
}

h1 {
    margin: auto;
}

.bayan {
    color: #be4040;
}

.mem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.btn {
    width: 80%; 
    display: flex;
    justify-content: space-between;
    border-top: 0.06rem solid grey;
    margin: 1rem auto;
    padding: 1rem;
}

input {
/*     opacity: 0; */
}

label {
    display: flex;
    flex-direction: column;
}

.name {
}

.ico {
    /* display: none; */
    width: 3rem;
    height: 3rem;
    src: url("../assets/img/icon-plus.svg");
}

.mem1-ico {
    display: block;
    background: no-repeat url("../assets/img/icon-plus.svg");
    z-index: 1;
}

.img-wrapper {
    display: none;
    margin: auto;
    width: 100%;
}

.img {
    margin: auto;
    width: 30%;
    height: 30%;
}

.bayan:hover {
    cursor: pointer;
    color: #000000;
    font-weight: bold;
}

.bayan:hover .ico {
    display: block;
}

.mem:hover .img-wrapper {
    display: flex;
}

input:checked ~.img-wrapper {
    display: flex;
/*     background-color: red; */
}
